# pip install -r requirements.txt

# Base ---------------------------
# python>=3.9.7

# torch>=1.9.1
tensorboard>=2.7.0
numpy>=1.21.5
opencv-python>=4.5.1.48
matplotlib>=3.5.1
tqdm>=4.62.3
PyYAML>=6.0
pycocotools>=2.0.3 # need Microsoft C++ build tools